/* CSS Float buttons */

.smfbuttons{
    position:fixed;
    width:auto;
    bottom:4vh;
    left: 2vh;
    height:auto;
    z-index:1000;
    text-align:center;
}
.float-ig{
    display: block;
    width: 100%;
    background: -prefix-linear-gradient(top, rgba(184, 1, 170, 0.4) rgba(254, 149, 17, 0.4));
    background: linear-gradient(to bottom, rgba(184, 1, 170, 0.4), rgba(254, 149, 17, 0.4));
    color:#FFF;
    border-radius:50%;
    font-size:30px;
    margin-bottom:10px;
}
.float-ig:hover {
    color: #ffffff;
    background: -prefix-linear-gradient(top, rgb(184, 1, 170) rgb(254, 149, 17));
    background: linear-gradient(to bottom, rgb(184, 1, 170), rgb(254, 149, 17));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}	

.float-fb{
    display: block;
    width: 100%;
    background-color:rgba(46, 76, 131, 0.4);
    color:#FFF;
    border-radius:50%;
    font-size:30px;
    margin-bottom:10px;
}
.float-fb:hover {
    color: #ffffff;
    background-color:rgb(46, 76, 131);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.float-ws{
    display: block;
    height: 100%;
    background-color:rgba(37, 211, 102, 0.4);
    color:#FFF;
    border-radius:50%;
    font-size:30px;
    margin-bottom:10px;
}

.float-ws:hover {
    color: #ffffff;
    background-color:rgb(37, 211, 102);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.float-yt{
    display: block;
    height: 100%;
    background-color:rgba(255, 0, 0, 0.4);
    color:#FFF;
    border-radius:50%;
    font-size:30px;
    margin-bottom:10px;
}

.float-yt:hover {
    color: #ffffff;
    background-color:rgb(255, 0, 0);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.float-tw{
    display: block;
    height: 100%;
    background-color:rgba(29, 155, 240, 0.4);
    color:#FFF;
    border-radius:50%;
    font-size:30px;
    margin-bottom:10px;
}

.float-tw:hover {
    color: #ffffff;
    background-color:rgb(29, 155, 240);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.float-ln{
    display: block;
    height: 100%;
    background-color:rgba(10, 102, 194, 0.4);
    color:#FFF;
    border-radius:50%;
    font-size:30px;
    margin-bottom:10px;
}
.float-ln:hover {
    color: #ffffff;
    background-color:rgb(10, 102, 194);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.my-float{
    margin-left:9px;
    margin-right:9px;
    margin-top: 8px;
    margin-bottom: 8px;
}
